**/*.log
**/*.md
**/*.php~
**/*.dist.php
**/*.dist
**/*.cache
**/._*
**/.dockerignore
**/.DS_Store
**/api/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/api/compose.*.yaml
**/api/compose.*.yml
**/compose.yaml
**/compose.yml
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
**/Thumbs.db
.github/
api/docs/
api/public/bundles/
api/tests/
api/var/
api/vendor/
api/.editorconfig
api/.env.*.local
api/.env.local
api/.env.local.php
api/.env.test
